<div class="container"> 
    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenido{{" +usuario.nombre}}"</h1>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="miperfilenc">Mi perfil</a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <a href="/compras">Gestion de pedidos</a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <a href="#" >Cerrar sesion</a>
        </div>
    </div>

</div>