<p>detalles-perito works!</p>
<form id="crearCliente">
    <font COLOR="black">
        <h3>Perito</h3>
    </font>
    <br>
    <div class="col-md-2">
        <div class="mb-5">
            <span class="p-float-label">
                <input type="text" pInputText class="form-control" required maxlength="40"
                    [(ngModel)]="perito.dniPerito" [ngModelOptions]="{standalone: true}" disabled>
                <label class="form-label">DNI</label>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="mb-4">
                <span class="p-float-label">

                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="perito.nombrePerito" [ngModelOptions]="{standalone: true}" disabled>
                    <label class="form-label">Nombre</label>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="perito.apellidoPerito1" [ngModelOptions]="{standalone: true}" disabled>
                    <label class="form-label">Primer Apellido</label>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" maxlength="40"
                        [(ngModel)]="perito.apellidoPerito2" [ngModelOptions]="{standalone: true}" disabled>
                    <label class="form-label">Segundo Apellido</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="number" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="perito.telefonoContacto" [ngModelOptions]="{standalone: true}" disabled>
                    <label class="form-label">Teléfono</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="number" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="perito.telefonoOficina" [ngModelOptions]="{standalone: true}" disabled>
                    <label class="form-label">Teléfono Oficina</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="perito.claseVia" [ngModelOptions]="{standalone: true}" disabled>
                    <label class="form-label">Clase Vía</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="perito.nombreVia" [ngModelOptions]="{standalone: true}" disabled>
                    <label class="form-label">Nombre Vía</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="perito.numeroVia" [ngModelOptions]="{standalone: true}" disabled>
                    <label class="form-label">Número Vía</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="perito.codPostal" [ngModelOptions]="{standalone: true}" disabled>
                    <label class="form-label">Código Postal</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="perito.ciudad" [ngModelOptions]="{standalone: true}"disabled>
                    <label class="form-label">Ciudad</label>
                </span>
            </div>
        </div>
    </div>
</form>


<div class="card">
    <div class="col-md-12" *ngIf="mostrarBotonNuevo">
        <button type="button" class="btn btn-outline-primary float-end" (click)="formularioComponent()">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
            </svg>
            Crear nuevo siniestro
        </button>
        <div class="col-md-7">
            <h3 class="float-end">Siniestros</h3>
        </div>
    </div>

    <h5 class="float-start">Cantidad de resultados: {{cantidadSiniestros}}</h5>
    <p-table [value]="siniestros" [paginator]="false" [rows]="rows" [showCurrentPageReport]="false" [(first)]="first"
        responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,10,15]">

        <ng-template pTemplate="header">
            <tr>
                <th>ID del siniestro</th>
                <th>Fecha</th>
                <th>Causas</th>
                <th>Aceptado</th>
                <th>Indemnización</th>
                <th>Número de Poliza</th>
                <th>ID del Perito</th>
                <th>Nombre de perito</th>
                <th>Editar/Eliminar</th>
                <th>Detalles siniestro</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-s>
            <tr>
                <td>{{s.idSiniestro}}</td>
                <td>{{s.fechaSiniestro | date:'dd/MM/yyyy'}}</td>
                <td>{{s.causas}}</td>
                <td>{{s.aceptado}}</td>
                <td>{{s.indemnizacion}}</td>
                <td>{{s.numeroPoliza}}</td>
                <td>{{s.perito.dniPerito}}</td>
                <td>{{s.perito.nombrePerito}} {{s.perito.apellidoPerito1}}</td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning"
                        (click)="flotanteEditar(s)"></button>
                    &nbsp;
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
                        (click)="flotanteEliminar(s)"></button>
                </td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-folder-open"
                        class="p-button-rounded p-button-secondary" (click)="irDetallesSiniestro(s)">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="col-md-8 text-center">
        <p-button type="button" icon="pi pi-angle-double-right" (click)="last()" [disabled]="ultimaPagina"
            styleClass="p-button-text" class="float-end"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="ultimaPagina"
            styleClass="p-button-text" class="float-end"></p-button>
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text" class="float-end">
        </p-button>
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]=primeraPagina
            styleClass="p-button-text" class="float-end"></p-button>
        <p-button type="button" icon="pi pi-angle-double-left" (click)="primero()" [disabled]=primeraPagina
            styleClass="p-button-text" class="float-end"></p-button>
        <font class="float-end" color="white">__</font>
        <font [size]="5" class="float-end">Página {{ pagina +1}} de {{paginasTotales}} </font>
        <font class="float-end" color="white">__</font>
        <p-dropdown [options]="lang" placeholder="Filas" optionLabel="name" [showClear]="false" [(ngModel)]="paginas"
            class="float-end">
        </p-dropdown>
        <font class="float-end" color="white">__</font>
        <font [size]="5" class="float-end">Filas</font>
    </div>
</div>
<br>