<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenidos!</h1>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div class="spinner-border text-info float-right" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <br>
        <br>
    </div>

    <form  id="login">
        <div class="row">
            <div class="col-md-12">
                <input type="text" 
                    placeholder="Nombre de Usuario" class="form-control" required>

            </div>

        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <input type="password" 
                    placeholder="Password" class="form-control" required>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <input class="btn btn-success float-right" type="submit" value="Ingresar">
            </div>
        </div>

    </form>

    <br>

    <div class="row" >
        <div class="col-md-12">
            <label class="float-right" style="color: red;">Usuario o password incorrecto</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label class="float-right">Si no tienes una cuenta con nosotros haz click <a href="#"
                    >aqui </a>.</label>
        </div>

    </div>
</div>