<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="top-center" key="te"></p-toast>
<p-toast position="top-center" key="td"></p-toast>


<div class="container">

    <form id="crearCliente" *ngIf="mostrarFormulario">
        <font COLOR="black">
            <h3>Editar Perito</h3>
        </font>
        <br>
        <div class="col-md-2">
            <div class="mb-5">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="peritoNuevo.dniPerito" [ngModelOptions]="{standalone: true}" disabled>
                    <label class="form-label">DNI</label>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-4">
                    <span class="p-float-label">

                        <input type="text" pInputText class="form-control" required maxlength="40"
                            [(ngModel)]="peritoNuevo.nombrePerito" [ngModelOptions]="{standalone: true}">
                        <label class="form-label">Nombre</label>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-4">
                    <span class="p-float-label">
                        <input type="text" pInputText class="form-control" required maxlength="40"
                            [(ngModel)]="peritoNuevo.apellidoPerito1" [ngModelOptions]="{standalone: true}">
                        <label class="form-label">Primer Apellido</label>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-4">
                    <span class="p-float-label">
                        <input type="text" pInputText class="form-control" maxlength="40"
                            [(ngModel)]="peritoNuevo.apellidoPerito2" [ngModelOptions]="{standalone: true}">
                        <label class="form-label">Segundo Apellido</label>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-4">
                    <span class="p-float-label">
                        <input type="number" pInputText class="form-control" required maxlength="40"
                            [(ngModel)]="peritoNuevo.telefonoContacto" [ngModelOptions]="{standalone: true}">
                        <label class="form-label">Teléfono</label>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-4">
                    <span class="p-float-label">
                        <input type="number" pInputText class="form-control" required maxlength="40"
                            [(ngModel)]="peritoNuevo.telefonoOficina" [ngModelOptions]="{standalone: true}">
                        <label class="form-label">Teléfono Oficina</label>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-4">
                    <span class="p-float-label">
                        <input type="text" pInputText class="form-control" required maxlength="40"
                            [(ngModel)]="peritoNuevo.claseVia" [ngModelOptions]="{standalone: true}">
                        <label class="form-label">Clase Vía</label>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-4">
                    <span class="p-float-label">
                        <input type="text" pInputText class="form-control" required maxlength="40"
                            [(ngModel)]="peritoNuevo.nombreVia" [ngModelOptions]="{standalone: true}">
                        <label class="form-label">Nombre Vía</label>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-4">
                    <span class="p-float-label">
                        <input type="number" pInputText class="form-control" required maxlength="40"
                            [(ngModel)]="peritoNuevo.numeroVia" [ngModelOptions]="{standalone: true}">
                        <label class="form-label">Número Vía</label>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-4">
                    <span class="p-float-label">
                        <input type="text" pInputText class="form-control" required maxlength="40"
                            [(ngModel)]="peritoNuevo.codPostal" [ngModelOptions]="{standalone: true}">
                        <label class="form-label">Código Postal</label>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-4">
                    <span class="p-float-label">
                        <input type="text" pInputText class="form-control" required maxlength="40"
                            [(ngModel)]="peritoNuevo.ciudad" [ngModelOptions]="{standalone: true}">
                        <label class="form-label">Ciudad</label>
                    </span>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-outline-success float-end" (click)="enviarFormulario()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-check-square-fill" viewBox="0 0 16 16">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />

                    </svg> Guardar </button>
                &nbsp; &nbsp;

                <button type="button" class="btn btn-outline-danger float-end" (click)="cancelarEditar()">

                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-x-square-fill" viewBox="0 0 16 16">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                    </svg> Cancelar </button>
            </div>
        </div>
    </form>
</div>

<br>
<br>

<div class="card ">

    <div class="col-md-12" *ngIf="mostrarBotonNuevo">
        <button type="button" class="btn btn-outline-primary float-end" (click)="formularioComponent()">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path
                    d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z" />
            </svg> Crear nuevo perito</button>
        <div class="col-md-7">
            <h2 class="float-end">Peritos</h2>
        </div>
        <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success" (click)="obtenerPaginadoNombre()"></button>
        <span class="">
            <!---i class="pi pi-search"--->
            <input type="text" pInputText placeholder="Buscar Nombre" [(ngModel)]="value3" />
        </span>
    </div>


    <h5 class="float-start">Cantidad de resultados: {{cantidadPeritos}}</h5>
    <p-table [value]="peritos" [paginator]="false" [rows]="rows" [showCurrentPageReport]="false" [(first)]="first"
        responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,10,15]" [scrollable]="true">

        <ng-template pTemplate="header">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Teléfono Oficina</th>
                <th>Clase Vía</th>
                <th>Nombre Vía</th>
                <th>Número Vía</th>
                <th>Codigo postal</th>
                <th>Ciudad</th>
                <th>Editar/Eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p>
            <tr>
                <td>{{p.dniPerito}}</td>
                <td>{{p.nombrePerito}}</td>
                <td>{{p.apellidoPerito1}} {{p.apellidoPerito2}}</td>
                <td>{{p.telefonoContacto}}</td>
                <td>{{p.telefonoOficina}}</td>
                <td>{{p.claseVia}}</td>
                <td>{{p.nombreVia}}</td>
                <td>{{p.numeroVia}}</td>
                <td>{{p.codPostal}}</td>
                <td>{{p.ciudad}}</td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-user-edit"
                        class="p-button-rounded p-button-warning" (click)="flotanteEditar(p)">
                    </button>
                    &nbsp;
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
                        (click)="flotanteEliminar(p)">
                    </button>
                </td>

            </tr>
        </ng-template>

    </p-table>
    <div class="col-md-8 text-center">
        <p-button type="button" icon="pi pi-angle-double-right" (click)="last()" [disabled]=finalPagina
            styleClass="p-button-text" class="float-end"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]=finalPagina
            styleClass="p-button-text" class="float-end"></p-button>
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text" class="float-end">
        </p-button>
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]=primeraPagina
            styleClass="p-button-text" class="float-end"></p-button>
        <p-button type="button" icon="pi pi-angle-double-left" (click)="primero()" [disabled]=primeraPagina
            styleClass="p-button-text" class="float-end"></p-button>
        <font class="float-end" color="white">__</font>
        <font [size]="5" class="float-end">Página {{ pagina +1}} de {{paginasTotales}} </font>
        <font class="float-end" color="white">__</font>
        <p-dropdown [options]="lang" placeholder="Filas" optionLabel="name" [showClear]="false" [(ngModel)]="paginas"
            class="float-end">
        </p-dropdown>
        <font class="float-end" color="white">__</font>
        <font [size]="5" class="float-end">Filas</font>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>