<form id="crearCliente" >
    <br>
    <div class="row">
        <div class="col-md-6 ">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="clienteNuevo.nombreCl" [ngModelOptions]="{standalone: true}">
                    <label class="form-label">Nombre</label>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="clienteNuevo.apellido1" [ngModelOptions]="{standalone: true}">
                    <label class="form-label">Primer Apellido</label>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" maxlength="40"
                        [(ngModel)]="clienteNuevo.apellido2" [ngModelOptions]="{standalone: true}">
                    <label class="form-label">Segundo Apellido</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="clienteNuevo.claseVia" [ngModelOptions]="{standalone: true}">
                    <label class="form-label">Clase Vía</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="clienteNuevo.nombreVia" [ngModelOptions]="{standalone: true}">
                    <label class="form-label">Nombre Vía</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="number" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="clienteNuevo.numeroVia" [ngModelOptions]="{standalone: true}">
                    <label class="form-label">Número Vía</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="number" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="clienteNuevo.codPostal" [ngModelOptions]="{standalone: true}">
                    <label class="form-label">Código Postal</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="clienteNuevo.ciudad" [ngModelOptions]="{standalone: true}">
                    <label class="form-label">Ciudad</label>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="number" pInputText class="form-control" required maxlength="40"
                        [(ngModel)]="clienteNuevo.telefono" [ngModelOptions]="{standalone: true}">
                    <label class="form-label">Teléfono</label>
                </span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-4">
                <span class="p-float-label">
                    <input type="text" pInputText class="form-control" maxlength="75"
                        [(ngModel)]="clienteNuevo.observaciones" [ngModelOptions]="{standalone: true}">
                    <label class="form-label">Observaciones</label>
                </span>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-outline-success float-end" (click)=enviarFormulario()>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-check-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />

                </svg> Guardar </button>
            &nbsp; &nbsp;
        </div>
    </div>
</form>